:root {
    --imageBg: #fefefe;
    --bgColor: #e4e8ff;
    --sectionColor: #d5dcff;
    --figcaptionBgColor: #e1fff8;
    --textColor:  #1b2231;
    --bannerColor: #737687;
    --pebbleColor: #f8f2c4;
    --waterColor:  #a8ccc4;
    --headerFont: 'Fredericka the Great', cursive;
    --subheaderFont:'Julius Sans One', sans-serif;
    --textFont: 'Gowun Batang', serif;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
  
/*
font-family: 'Fredericka the Great', cursive;
>font-family: 'Gowun Batang', serif;
font-family: 'Julius Sans One', sans-serif;
*/
body {
    background-color: var(--imageBg);
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border: 1px solid skyblue;
}

#title {
    font-family:  var(--headerFont);
}

h3 {
    color: var(--sectionColor);
    font-size: 48px;
}

.header-row {
    border: 1px solid fuchsia;
}

.top-header-section {
      background-color: #737687;
      padding-bottom: 20px;
}

.top-header {
    margin-top: 40px;
    height: auto;
}

.top-nav-section {
    background-color: var(--waterColor);
}

.nav-link {
    color: var(--textColor);
    font-size: calc(8px + ( 14 - 8) * (100vw - 300px) / (800 - 300) ); 
    font-family: var(--subheaderFont);
    font-weight: 700;
}

.nav-link:hover {
    color: var(--pebbleColor);
    transition: 0.5s ease;
}

.about-link:hover {
    color: var(--waterColor);
    transition: 0.5s ease;
}

.top, .more {
    font-family: var(--subheaderFont);
    font-size: calc(12px + ( 20 - 12) * (100vw - 300px) / (800 - 300) );
    color: var(--textColor);
    font-weight: 700;
}

.top:hover, more:hover  {
    color: var(--waterColor);
    text-decoration: none;
    transition: 0.5s ease;
}

.logo-section {
    background-color: var(--bannerColor);
    height: auto;
}

.logo-subheader {
    font-family: var(--headerFont);
    color: var(--sectionColor);
    font-size: calc(36px + ( 60 - 36) * (100vw - 300px) / (800 - 300) );
}

 .logo {
     position: relative;
     height: 25vh;
     min-height: 150px;
     margin: 0;
 }

#apologue {
    position: absolute;
    left: 4vw;
    animation-direction: normal;
    animation-name: fadeOut;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


#apologicode {
    position: absolute;
    left: 4vw;
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.logo-text {
    background-color: var(--bannerColor);
    color: var(--bgColor);
    font-family: var(--headerFont);
    font-size: calc(10px + ( 16 - 10) * (100vw - 300px) / (800 - 300) );
}

.slogan {
    position: relative;
    margin: 0;
}

#logo-text-1 {
    position: absolute;
    left: 4vw;
    opacity: 0%;
    animation-direction: normal;
    animation-name: fadeOut;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#logo-text-2 {
    position: absolute;
    left: 4vw;
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}


@keyframes fadeOut {
    0% {
        opacity: 0%;
    }
    12.5% {
        opacity: 50%;
    }
    25% {
        opacity: 100%;
    }
    
    50% {
        opacity: 75%;
    }

    75% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}



@keyframes fadeIn {
    0% {
        opacity: 25%;
    }
    25% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }
    75% {
        opacity: 100%;
    }

    87.5% {
        opacity: 50%;
    }
    
    100% {
        opacity: 25%;
    }
}


.banner-section {
    background: linear-gradient(to right, var(--bgColor), var(--imageBg));
    padding-top: 20px;
}

.headshot {
    max-height: 30vh;
}

.crow-div {
    padding: 0;
    border: 1px solid blue;
}

.crow-image {
    max-height: 30vh;
    opacity: 60%;
    box-shadow: 0 0 8px 8px var(--pebbleColor) inset;
}

.crow-image:before {
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0px 0px 8px 10px var(--imageBg);
    -webkit-box-shadow:inset 0px 0px 8px 10px var(--imageBg);
    box-shadow:inset 0px 0px 8px 10px var(--imageBg);
}

.about-section {
    background: linear-gradient(to right, var(--bgColor), var(--imageBg));
}

#headshot {
    max-height: 40vh;
    border-radius: 20px;
    padding:  10px;
}

.about-text, .interests-text, .contacts-text, .figcaption-text {
    font-family: var(--textFont);
    font-size: 20px;
    background-color: transparent;
    padding-top: 20px;
    border: 1px solid orange;
}

.about-text-3:hover {
    font-size: 24px;
    color: var(--waterColor);
    transition: 0.5s ease;
}

h1 {
    font-family: var(--headerFont);
    color: var(--textColor);
}

h2 {
    font-family: var(--subheaderFont);
    font-size: calc(18px + (26 - 18) * (100vw - 300px) / (800 - 300) );
    color: var(--textColor);
    font-weight: 600;
    border: 1px solid purple;
}

.banner {
    height:  400px;
    background-image: linear-gradient(to top right, #1b2231, #737687);
    
}
*/
section {
    padding: 20px 0;
    height: auto;
}

p {
    font: 1em sans-serif;
    color: #1b2231;
    background-color: #e4e7f4;
}

.projects-section, .bio-section {
    background-color: var(--bgColor);
    padding: 20px 0;
}

.project-column {
    padding: 0;
}

.project-div, .project-link {
    padding:  0px;
}

.github-link {
    font-family: var(--textFont);
}

.github-link:hover {
    color: var(--waterColor);
    transition: 0.5s ease;
}

figure {
    border: thin var(--bannerColor) solid;
    padding: 10px 0;
    max-width: 450px;
    background-color: var(--pebbleColor);
}

figcaption {
    max-width: 450px;
    padding: 0 10px;
    border: 2px var(--bannerColor);
    margin: 10px;
}

.project-image {
    /*max-width: 450px;*/
    padding: 10px;
}

.figcaption-text {
    background-color: var(--imageBg);
    font-size: calc(14px + (18 - 14) * (100vw - 300px) / (800 - 300) );
}

.credentials-section {
    background-color: var(--imageBg);
    padding-top: 20px;
}

.credentials-text {
    font-family: var(--textFont);
    font-size: calc(16px + (20 - 16) * (100vw - 300px) / (800 - 300) );
    font-weight: 500;
    text-transform: capitalize;
    background-color: transparent;
}

#web-design, #resume {
    text-decoration: none;
}

.credentials-text:hover {
    color: var(--waterColor);
    transition: 0.5s ease;
}

.interests-section {
    background-color: var(--pebbleColor);
    padding: 20px 0;
}

.carousel-row {
    border: 1px solid blue;
}

.carousel-text {
    background-color: transparent;
    padding: 0 3px;
    height: auto;
}

.contacts-section {
    background-color: var(--waterColor);
    padding-top: 20px;
}

.contacts-section .top:hover {
    color: var(--pebbleColor);
    transition: 0.5s ease;
}

.contacts-text {
    background-color: transparent;
    font-size:  20px;
    font-weight:  500;
    padding: 0;
}

.contacts-link {
    margin: 0;
    padding: 0;
}

.address {
    font-family: var(--textFont);
    font-size: 20px;
    color: var(--textColor);
    background-color: transparent;
    padding-top: 20px;
}

a .contacts-text:hover {
    color: var(--pebbleColor);
    transition: 0.5s ease;
}

#phone, #mail {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.fable-text, .bio-text {
    font-family: var(--textFont);
    font-size: calc(16px + (20 - 16) * (100vw - 300px) / (800 - 300) );
    color: var(--textColor);
    background-color: transparent;
    border: 1px solid red;
}

.video-section {
    height: auto;
    background-color: #f1c180;
    padding: 20px 10px;
    border: 1px solid green;
}

footer {
    background: linear-gradient(var(--waterColor), #737687);
    height: auto;
    min-height: 150px;
}

.footer-subheader {
    font-size: calc(32px + (48 - 32) * (100vw - 300px) / (800 - 300) );
    color: var(--textColor);
    margin: 0;
    padding: 0;
}

.footer-nav-link {
    background-color: transparent;
}

.crow-icon {
    border-radius: 50%;
    opacity: 80%;
}

@media (max-width: 766px) {
    .crow-icon {
        justify-content: center;
    }
}

.colophon-text {
    background-color: transparent;
    font-family: var(--textFont);
    font-size: calc(12px + (18 - 12) * (100vw - 300px) / (800 - 300) );
    margin: 5px 0 0 0;
    padding: 0;
}

.dedication {
    background-color: #e4e7f4;
}

.carousel-subheader {
    line-height: 2;
}


